#mediaDocList {
    td {
        line-height: 20px;
    }
    .preview-header {
        width: 60px;
    }
    .preview {
        width: 60px;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        display: inline-block;
    }

    .mediaDocRow {
        transition: 0.5s linear all;
        &.processing {
            background-color: rgba(#ff0000, 0.8);
        }
    }

    .processing.ng-leave {
        background-color: #ebebeb;
    }

    .description {
        height: 60px;
        background-color: #ebebeb;
        padding: 5px;
    }

    .upload-btn {
        @include children-vertical-align();
    }
}
