<div id="apps" xmlns="http://www.w3.org/1999/html">

  <script type="text/ng-template" id="customTemplate.html">
    <a>
      <span ng-bind-html="match.model.originalFileName | uibTypeaheadHighlight:query"></span>
    </a>
  </script>

  <form role="form" name="mediaDocList" id="mediaDocList">
    <div class="tools" style="text-align: right">
      {{searchFile}}
      <span class="search-box"><input
        ng-model="searchFile"
        uib-typeahead="file as file.resourceName for file in getHints($viewValue)"
        typeahead-loading="loadingFiles"
        typeahead-no-results="noResults"
        typeahead-min-length="4"
        typeahead-wait-ms="200"
        typeahead-template-url="customTemplate.html"
        placeholder="Type here to search by filename"/><img ng-show="loadingFiles" src="/ajax-loader.gif" alt=""
                                                            style="margin-left: 10px"></span>


      <img src="/ajax-loader.gif" alt="" ng-show="processing">
      <button
        type="file"
        class="btn btn-danger"
        multiple="multiple"
        ngf-accept="'image/*|audio/*|video/*'"
        ng-disabled="processing && !processing.id"
        ngf-multiple="true"
        ngf-select="uploadFiles($files, $invalidFiles)"
        ngf-max-size="1MB">Upload New Files (maximum 1MB)
      </button>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th style="width:100px;">ID</th>
        <th style="width:300px;">File Name</th>
        <th style="width:130px;">File Size</th>
        <th class="preview-header">Preview</th>
        <th>Description</th>
        <th style="width:100px;">Operation</th>
      </tr>
      </thead>
      <tbody>
      <tr class="mediaDocRow" ng-repeat="m in mediaDocs track by $index"
          ng-class="{'processing':processing && processing.id === m.id}">
        <td>{{m.resourceName}}</td>
        <td>{{m.originalFileName}}</td>
        <td>{{m.fileSize}}</td>
        <td>
          <div class="preview" style="background-image: url({{m.accessUrl}})"></div>
        </td>
        <td>
          <div class="description"
               contenteditable="true"

               ng-blur="update(m)"
               ng-model="m.description"
               strip-br="true"
               strip-tags="true"
               placeholder="Click to edit, blur to save">{{m.description}}
          </div>
        </td>
        <td style="text-align: center">
          <button type="file"
                  ngf-multiple="false"
                  ngf-max-size="1MB"
                  ngf-select="uploadFiles($file, $invalidFiles, m)"
                  class="btn btn-primary btn-sm"/>
          Update file</button>
          <button
            class="btn btn-default btn-sm"
            style="margin-top: 5px"
            ng-disabled="processing && processing.id === m.id"
            ng-click="delete(m)"/>
          Delete </button>
        </td>
      </tr>

      </tbody>
    </table>
  </form>

</div>
